@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
    font-family: 'Poppins';
    background-color: #e5e5e5;
}
header{
    background-color: #562EFF;
    height: 86px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>img{
    height: 40px;
}
.logo-text{
    font-size: 24px;
    color: #ffffff;
    margin-left: 10px;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    column-gap: 36px;
}
a , li {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 36px;
    height: 86px;
}
.nav-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.container{
    width: 870px;
    margin: 0 auto;
    background-color: #ffffff;
}
h2{
    color: #562EFF;
    font-weight: 400;
    font-size: 24px;
    margin-left: 36px ;
    padding-top: 20px;
}

 .wrap-card{
     display: flex;
     justify-content: space-evenly;
}
.card img{
    width: 244px;
}